# Ignore logs and tests sub-directories
logs/checker_logs/*
logs/test_logs/*
migrations/*

tests/input/*
tests/actual_output/*
tests/expected_output/*

src/exec/*

# Exclude .gitkeep files from being ignored
!logs/.gitkeep
!logs/checker_logs/.gitkeep
!logs/test_logs/.gitkeep
!tests/input/.gitkeep
!tests/actual_output/.gitkeep
!tests/expected_output/.gitkeep
!src/exec/.gitkeep
!migrations/.gitkeep