# Ignore logs and tests directories
logs/*
tests/*
src/exec/*
# Exclude .gitkeep files from being ignored
!logs/.gitkeep
!logs/checker_logs/.gitkeep
!logs/test_logs/.gitkeep
!tests/input/.gitkeep
!tests/actual_output/.gitkeep
!tests/expected_output/.gitkeep
!src/exec/.gitkeep
